@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: white;
}

/* HEADER */

header {
    background-color:antiquewhite;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #525252;
}
button {
    margin: 10px;
    border: 1px;
}

.imgLogo {
    width: 100%;
    max-width: 200px;
}

.desplegable {
    background-color: #fafafa;
    border: none;
}


.icons {
    padding: 5px;
}

.btnHeader:hover {
    background-color: rgb(198, 196, 196);
    border-radius: 5px;
}

/* CAROUSEL INDEX*/

section {
    padding-top: 30px;
}

.carousel-inner {
    max-height: 39rem; 
}


.imgCarousel {
    width: 100%;
 
}

/* MAIN INDEX*/

h1 {
    padding: 5px;
    font-size: 20px;
    text-transform: uppercase;
}













































































@media (max-with:786px) {
    #intro {
        width: 90% !important;
    }
    .soprano-fila {
        width: 100% !important;
        text-align: center;
    }
}

@media (max-with: 576) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}