* {
    margin: 0%;
    padding: 0%;
}


body {
    background-color: white;
}
/* HEADER */

header {
    background-color:antiquewhite;
    text-transform: uppercase;
    font: bold solid black 1px;
}

.imgLogo {
    width: 100%;
  width: 200px;
}

