* {
    box-sizing: border-box;
}

.contenido {
    max-width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.consulta {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(70, 70, 70);
    padding-top: 50px;
    text-transform: uppercase;
}

#parrafo-formulario {
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

.contact-wraper {
    background-color: #fbf8f9;
    border: none;
    margin: 2em;
    align-items: center;
    justify-content: center;
}

.formulario-contacto form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    font-size: 14px;
}

.formulario-contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.formulario-contacto form .block {
    grid-column: 1 / 4;
}

.formulario-contacto form p {
    margin: 0;
    padding: 16px;
}

.formulario-contacto form button,
.formulario-contacto form input,
.formulario-contacto form textarea {
    width: 100%;
    padding: 1em;
    border: rgb(235, 235, 234) solid .05px;
    background-color: rgb(251, 251, 251);
}

.formulario-contacto form input {
    border-radius: 5px;
}

.formulario-contacto form button {
    border: none;
    text-transform: uppercase;
    background-color: #e0dfdf;
    font-weight: 700;

}

.formulario-contacto #boton-formulario {
    background-color: #d3d3d3;
    color: rgb(108, 108, 108);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0%;

    &:hover {
        background-color:rgb(134, 133, 133);
    }
}


.wave {
    margin-bottom: 1px;
}